fastapi[all]
uvicorn
python-dotenv
motor
numpy
faiss-cpu
sentence-transformers
groq
pytz
pywebpush
bcrypt
pydantic
requests
httpx
beautifulsoup4
duckduckgo-search
bs4
pandas
selenium
webdriver-manager
docx2txt
PyMuPDF
loguru
ratelimit
html2image
speechrecognition

# Optional Windows-only notifier (ignored on Linux/Railway)
# win10toast
